@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
    box-shadow: none !important;
}   

#navigator-toolbox::after {
    border-bottom: none !important; 
}

#navigator-toolbox {
    --tabs-border-color: rgba(100,0,0,.1) !important;
}

:root {
    --toolbar-bgcolor: rgba(0,0,0,0.2) !important;
}

.tab-line {
    background-color: transparent !important;
}
